.container .b-l-n {
  border-left: none;
}

.pay-box {
  box-sizing: border-box;
  padding: 10rpx 57rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: 1px solid #cfd4d3;
}

/* 支付密码框聚焦的时候 */

.focus-border {
  // border-color: #0c8;
}

/* 单个格式样式（聚焦的时候） */
.password-box {
  width: 88rpx;
  height: 88rpx;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 模拟光标 */

.cursor {
  width: 2rpx;
  height: 36rpx;
  background-color: #666;
  animation: focus 1.2s infinite;
}

/* 光标动画 */

@keyframes focus {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* 模拟输入的password的黑点 */

.input-black-dot {
  width: 20rpx;
  height: 20rpx;
  background-color: #000;
  border-radius: 50%;
}

/* 输入框 */

.hidden-input {
  margin-top: 200rpx;
  position: relative;
  left: -999rpx;
  top: 0;
  opacity: 0;
  z-index: -2;
}

.pswd {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  &-mask {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &-modal {
    width: 548rpx;
    height: 280rpx;
    background-color: #e6e6e6;
    border-radius: 10rpx;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    &-title {
      padding: 24rpx 24rpx 24rpx 45rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-text {
        font-family: SourceHanSansCN-Regular;
        font-size: 28rpx;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0rpx;
        color: #666666;
      }

      .close-icon {
        width: 34rpx;
        height: 34rpx;
      }
    }
  }

  &-split-line {
    width: 493rpx;
    height: 2rpx;
    background-color: #bfbfbf;
    margin: 10rpx auto;
  }

  &-text {
    text-align: center;
    font-family: SourceHanSansCN-Regular;
    font-size: 30rpx;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rpx;
    color: #333333;
  }
}